@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
    background-color: "linear-gradient(rgba(255,255,255,0.8)",
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */

/* styles.css */

/* Main container styles */
.container {
max-width: 960px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(100px,auto);
margin:0 auto;
gap:10px;

}
@media screen and (min-width:700px){
.container{
max-width: 960px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(100px,auto);
margin:0 auto;
gap:10px;
}
}

/* Videos section styles */
.videos-section {
  flex: 0.7;
  margin-right: 20px;
}

/* Recommended videos section styles */
.recommended-videos-section {
  flex: 0.3;
  background-color: #dedee1;
  padding: 10px;
  border-radius: 8px;
}

/* Recommended videos title styles */
.recommended-videos-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.masonry-grid {
  display: flex;
  justify-content: center; /* Center grid */
  max-width: 1200px; /* Limit width to prevent excessive space */
  width: 100%;
  margin: auto;
}

.masonry-grid_column {
  background-clip: padding-box;
}
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

.video-item-wrapper {
  transition: transform 0.3s ease-in-out;
}

.video-item-wrapper:hover {
  transform: translateY(-5px);
}
